site03/src/data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="adepti">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="infadepti">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="adept" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="nume" type="xs:string"/>
                                    <xs:element name="prenume" type="xs:string"/>
                                    <xs:element name="domiciliu" type="xs:string"/>
                                    <xs:element name="parola" type="xs:string"/>
                                    <xs:element name="image" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>

</xs:schema>